<%- include('partials/header') %>

<h2>Sign up Page</h2>

<form>
  <fieldset>
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      placeholder="Email"
      required />
    <div class="email error"></div>
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      required />
    <div class="password error"></div>
  </fieldset>

  <button>Sign up</button>
</form>

<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;

    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    const res = await fetch('/signup', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ email, password }),
    });

    const data = await res.json();

    if (data.errors) {
      emailError.textContent = data.errors.email;
      passwordError.textContent = data.errors.password;
    }

    if (data.user) {
      location.assign('/');
    }
  });
</script>

<%- include('partials/footer') %>
